  body {
	background: #fafafa;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
	
	nav {
		border-bottom: 5px solid #B71C1C;
	}
	nav ul li a{
		color: black;
	}
	
	nav .brand-logo img{
		margin: 22px 0 0 0;
		max-height: 35px;
	}
	
	.navbar-fixed {
		margin-bottom: 20px;
	}
	footer div a {
		color: black !important;
	}
	
	big-card {
		height: 190px;
	}