  body {
	background: #fafafa;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
	
	nav {
		border-bottom: 5px solid #B71C1C;
	}
	nav ul li a{
		color: black;
	}
	
	nav .brand-logo img{
		margin: 22px 0 0 0;
		max-height: 35px;
	}
	
	.navbar-fixed {
		margin-bottom: 20px;
	}
	footer div a {
		color: black !important;
	}
	
	.big-card {
		height: 184px;
	}
	.big-card > div {
		font-size: 180px;
		font-weight: 900;
		position: relative;
		text-align: center;
		margin: auto;
		padding: auto;
	}
	.card .card-action {
		padding: 15px;
	}
	.card-image > img {
		max-height: 128px;
		padding: 25px 15px 15px 15px;
	}
	.card-house-button {
		display: inline-block;
		height: 100%;
		float: right;
	}
	.card-info {
		display: inline-block;
		height: 100%;
	}
	#cool-card {
		padding: 30px;
	}
	