{% extends "base.html" %}
{% block title%}Maggies Visitors' Hub{% endblock %}
{% block header %}
	{% if user.is_authenticated %}
		Welcome back, {{ staffmember.name }}!
	{% else %}
		Wellcome to MVH. Please sign in.
	{% endif %}
{% endblock %}
{% block content%}



<div class="row">
<a class="card btn col s12 m3 red darken-4 waves-light waves-effect" style="height: 190px; font-size: 190px; padding-top: 75px;" id="" onclick="addVisitorCard()">+</a>


{% if visitors %}
	{% for visitor in visitors %}
	<div class="col s12 m3">
	  <div class="card horizontal">
		<div class="card-image">
		  <img src="http://lorempixel.com/100/190/nature/6">
		</div>
		<div class="card-stacked">
		  <div class="card-content">
			<h5>{{ visitor.name }}</h5>
		    {{ visitor.gender }}<br/>
		    {{ visitor.cancer_type }}
		  </div>
		  <div class="card-action">
			<a href="{% url 'add-visitor' %}?id={{ visitor.id }}">View visitor</a>
		  </div>
		</div>
	  </div>
	</div>
	{% endfor %}
{% endif %}

</div>

{% endblock %}
