{% extends "base.html" %}
{% load static %}
{% block title %}New Visitor{% endblock %}
{% block head_block %}
  <script src="{% static 'js/jquery-ui.min.js' %}"></script>
  <script src="{% static 'js/name.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/jquery-ui.structure.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
{% endblock %}
{% block header%}New Visitor{% endblock %}
{% block content %}
<script>
  var form_id = "{{ form_a.visitor_name.id_for_label }}";
  var select_id = "{{ form_b.visit_site.id_for_label }}";
</script>

<!-- <div id='visitor-modal' class='modal'> -->

		<div id="suggestions">
			<strong>Maybe you were looking for...</strong>
			<div id="suggestions_in">
			</div>
		</div>

		  <div class="card form-card">
		  
		<form method="post" id="cool-form">
            {% csrf_token %}

			<p>
				{{ form_a.centre.label_tag }}
				{{ form_a.centre}}
				{{ form_a.centre.errors }}
			</p>
			<p>
				{{ form_a.visitor_name.label_tag }}
				{{ form_a.visitor_name }}
				{{ form_a.visitor_name.errors }}
			</p>
			<p>
				{{ form_a.is_in_Building }}
				{{ form_a.is_in_Building.label_tag }}
				{{ form_a.is_in_Building.errors }}
			</p>

			<!-- form b -->
			{% for field in form_b %}
			<p>
				{{ field.label_tag}}
				{{ field }}
				{{ field.errors }}
			</p>
			{% endfor %}
            <input type="submit" value="Save" class="btn right waves-effect waves-light">
        </form>
	  </div>
    <!-- </div> -->

{% endblock %}
