{% extends 'base.html' %}
{% load static %}
{% block content %}


    <div class="row">
        <form class="col s12">

            <div class="row">
                <label>Day</label>
                <select title="day">
                    <option value="0">Monday</option>
                    <option value="1">Tuesday</option>
                    <option value="2">Wednesday</option>
                    <option value="3">Thursday</option>
                    <option value="4">Friday</option>
                    <option value="5">Saturday</option>
                    <option value="6">Sunday</option>
                </select>
            </div>
            <div class="row" id="last-row">
                <div class="input-field col s3">
                    <select class="browser-default" title="activity">
                        <option value="a">A</option>
                    </select>
                </div>
                <div class="input-field col s2">
                    <select class="browser-default" title="start">
                        <option value="a">A</option>
                    </select>
                </div>
                <div id="last-end-time" class="input-field col s2">
                    <select class="browser-default" title="end">
                        <option value="a">A</option>
                    </select>
                </div>
                <div class="input-field col s3">
                    <input title="staff-id">
                </div>

                <a id="add-row" class="btn"><i
                        class="material-icons left">add</i>ADD</a>

            </div>


        </form>
    </div>

{% endblock %}