{% extends 'base.html' %}
{% load static %}
{% block content %}


    <div class="row card ">
	
        <form class="col s12" id="cool-form" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col s6">
                    <label>Centre
                        <select name="centre" title="centre">
                            {% for c in centres %}
                                <option value={{ c }}>{{ c }}</option>
                            {% endfor %}
                        </select>
                    </label>
                </div>

            </div>

            <div class="row">
                <div class="col s6">
                    <label>Day
                        <select name="day" title="day">
                            <option value="0">Monday</option>
                            <option value="1">Tuesday</option>
                            <option value="2">Wednesday</option>
                            <option value="3">Thursday</option>
                            <option value="4">Friday</option>
                            <option value="5">Saturday</option>
                            <option value="6">Sunday</option>
                        </select>
                    </label>
                </div>


            </div>
        <div class="row">
            <div class="input-field col s3">Activity</div>
            <div class="input-field col s2">Start Time</div>
            <div class="input-field col s2">End Time</div>
            <div class="input-field col s3">Staff Member</div>
        </div>
            <div class="row" id="last-row">
                <div class="input-field col s3">

                        <select name="activity" class="browser-default" title="activity" id="activity">

                            {% for a in activities %}
                                <option value="{{ a.id }}">{{ a.name }}</option>
                            {% endfor %}
                        </select>

                </div>
                <div class="input-field col s2">

                        <input type="time" name="start" title="start" id="start_time">

                </div>
                <div class="input-field col s2">

                        <input type="time" name="end" title="end" id="end_time">

                </div>
                <div class="input-field col s3">

                        <input name="staff" title="staff" id="staff_name">

                </div>

                <a id="add-row" class="btn"><i class="material-icons left">add</i>ADD</a>

            </div>
                <div class="right col s6" style="float:right;">
                    <button class="btn waves-effect waves-light" type="submit" value="Submit">Save
                        <i class="material-icons right">save</i>
                    </button>
                </div>

        </form>
    </div>

{% endblock %}